<div class="chart" style="text-align: center;">
    <h1>About</h1>

    <p>
    CommNews is a project that we started after exploring the Department of Commerce website and finding some spreadsheets that showed interesting trends in gross output across various industries.
    </p>

    <p>
    We graduated from Flatiron School about two months ago, and we were curious about what we could build with open data. So, we built CommNews to try to answer the question of what was going on in the world that may relate to the economic trends.
    </p>

    <p>
    The application uses Department of Commerce data to generate a line graph of gross output in billions over time. That data is then matched with news data from the relevant time period, so that researchers can get a better idea of the context surrounding specific inflection points in the economy.
    </p>

    <p>
    This application is for the economist who wants to easily discover what was going on in the world that influenced our country's economy. We hope it illustrates the value of open data – by tying data to context, we can have more informed conversations about our economy.
    </p>
    <span class="about-pic">
    <%= image_tag 'rose.jpg', :width => "50%", :height => "50%" %>
    <br>
    <%= link_to 'Rose Weixel', "http://people.flatironschool.com/profiles/rose-weixel"%>
    <p>Web Developer</p>
    </span>
    <span class="about-pic">
    <%= image_tag 'amanda.jpg', :width => "50%", :height => "50%" %>
    <br>
    <%= link_to "Amanda Chang", "http://people.flatironschool.com/profiles/amanda-chang"%>
    <p>Web Developer</p>
    </span>
</div>