$(document).ready(function(){
  $('#line-items').hide()
  var currentUrl = window.location.href;
  var categoryID = currentUrl.substr(currentUrl.lastIndexOf('/') + 1);
  $("#"+categoryID).addClass('current')

  setTimeout(function(){
    var year = 2005;
    $('circle[r="4"]').each(function(){
      $(this).before( "<p class=node-wrapper id="+year+"></p>" );
      year++;
    });

    $('g').on('click', 'circle', function(e){
      e.preventDefault();
      e.stopPropagation();
      var selectedYear = $(this).parent().prev().attr('id');
      if (selectedYear == undefined) {
        selectedYear = $(this).siblings('p').attr('id');
      }
      if (selectedYear == undefined) {
        selectedYear = $(this).parent().next('p').attr('id') - 1;
      }
      if (selectedYear == undefined) {
        selectedYear = "2013";
      }
      var currentUrl = window.location.href;
      var categoryID = currentUrl.substr(currentUrl.lastIndexOf('/') + 1);

      if (selectedYear !== undefined) {
        $('#line-items').show()
        $.ajax({
          type: "GET",
          url: "/categories/"+categoryID+"/line_items/"+selectedYear
        });
        $("#"+categoryID).addClass('current')
      } 
    });
  }, 1000);

  $('body').on('click', '.then', function(){
    var selectedYear = this.id;
    var currentUrl = window.location.href;
    var categoryID = currentUrl.substr(currentUrl.lastIndexOf('/') + 1);

    $.ajax({
      type: "GET",
      url: "/categories/"+categoryID+"/line_items/"+selectedYear
    });
  });
});