div.container-fluid{
	padding: 0;
}

h1 {
	text-transform: uppercase;
	font-family: "Gill Sans";
	font-weight: 500;
}
 
#menu {
	position: relative;
	top: -10px;
}

.list-group{
	width: 20%;
	float: left;
}

.list-group a {
	/*margin: 2%;*/
}

#top-nav{
	margin-bottom: 0;
	background-color: #08446F;
}

.chart, #line-items{
	padding: 3%;
	margin: 2% 7%;
	background-color: white;
	border: 1px solid #DDDDDD;
}

#line-items{
	margin-top: 0;
}

.then:hover {
  cursor: pointer;
}

.snippet{
	font-size: 1.5em;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background-color: #2780E3;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	background-color: #2780E3;
}