footer .footer-left {
  float: left;
}
footer .footer-right {
  float: right;
}

footer {
   position:fixed;
   padding: .5%;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#08446F;
   color: white;
}